*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
}
  
// * {
//     transform-style: preserve-3d;
// }
  
:root {
    --font-base: 'Brygada 1918', serif;
    --font-neucha: 'Neucha', cursive;
    --font-nunito: 'Nunito Sans', sans-serif;
    --font-comforter: 'Comforter', cursive;
    --duration: 4.2s;
    --stagger: .65s;
    --easing: cubic-bezier(.36,.7,.25,1);
    --offscreen: 130vmax;
    //cubic-bezier(.5, 0, .4, 1);
    --color-bg: #205e20b6;
    --color-blue: #384969;
    --color-shadow: #ffc400;
    --color-btn-blur: #4e3e8a;
    --color-btn-non-blur: #2a2343;

/* BLOG ROOT */ 

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    // overflow: hidden;
    font-size: 3.8vmin;
    font-family: 'Libre Baskerville', serif;
    // letter-spacing: 1px;
    // // font-family: 'Pangolin', cursive;
    line-height: 0;
    // background: linear-gradient(rgba(80, 116, 107, 0.704), pink);
    background: url('https://eanechaev.github.io/tender_consulting/img/bg_medium.jpg') fixed center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
body {
    display: flex;
    // justify-content: center;
    // align-items: center;
}

a,
input,
button,
textarea {
 display: inline-block;
 vertical-align: middle;
 border: none;
 border-radius: 0;
 margin: 0;
 padding: 0;
 font: inherit;
 color: inherit;
 line-height: inherit;
 text-transform: inherit;
 text-shadow: inherit;
 background: none;
 -webkit-box-shadow: none;
 box-shadow: none;
 cursor: pointer;
}

a {
    text-decoration: none;
}

nav {
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // gap: 0 0.5em;
    // -webkit-box-pack: justify;
    // -ms-flex-pack: justify;
    // justify-content: space-between;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // align-items: center;
}

@keyframes helloHero {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

.wrapper {
    min-width: 90vw;
    margin: 0 0 5vw 5vw;
}

// menu

header {
    display: flex;
    justify-content: end;
    z-index: 1;
}

// nav {
//     display: flex;
//     align-items: end;
// }

.menu {
    font-family: var(--font-base);
    color: aliceblue;
    font-size: 0.8rem;
    animation-name: helloHero;
    animation-duration: 2s;
    opacity: 0;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    z-index: 1;
}

ul {
    padding: 1vh 1vh;
    list-style: none;
    display: -webkit-inline-flex;
    li {
        margin: auto;
        padding: 0 2em;
        :hover {
            color: rgb(204, 223, 240);
        }
    }
}

.menu-toggle-icon {
    display: none;
    padding: 0.45rem;
    padding-bottom: 0.16rem;
}

// HERO

.hero {
    margin-top: 30vh;
}

.hero-words, h1, h3, h6 {
    font-weight: 400;
    color: aliceblue;
    h1 {
        font-size: 4rem;
        animation-name: helloHero;
        animation-duration: 2s;
        opacity: 0;
        animation-delay: 300ms;
        animation-fill-mode: forwards;
        span {
            font-size: 1.2rem;
        }
    }
    h3 {
        color: rgb(204, 223, 240);
        font-family: var(--font-base);
        font-size: 2.5rem;
        animation-name: helloHero;
        animation-duration: 2s;
        opacity: 0;
        animation-delay: 600ms;
        animation-fill-mode: forwards;
    }
    }

.hero-subtitle {
    font-family: var(--font-base);
    // margin-top: 4rem;
    font-size: 1rem;
    color:aliceblue;
    line-height: 1rem;
    animation-name: helloHero;
    animation-duration: 2s;
    opacity: 0;
    animation-delay: 1300ms;
    animation-fill-mode: forwards;
}

.lang-switcher {
    color: rgba(240, 248, 255, 0.489);
    :hover {
        color: aliceblue;
    }
}

// logo

.logo {
    position: fixed;
    z-index: 1;
    color:rgba(240, 248, 255, 0.111);
}

.hero-words-logo {
    right: 30vw;
    bottom: 15vw;
    font-size: 40vw;
    span {
        font-size: 15vw;
    }
}

@media (orientation:portrait) {
    .hero-words-logo {
        right: 30vw;
        top: 45vh;
        font-size: 40vw;
        span {
            font-size: 15vw;
        }
    }
}

.service_section {
    margin-top: 7vh;
    z-index: 2;
    padding-bottom: 45px;
}

.service_headline {
    padding-bottom: 0.1vw;
    color: rgba(12, 3, 45, 0.779);
    border-bottom: #2a234355 solid;
}

.service_text {
    text-align: justify;
    max-width: 770px;
    line-height: 23px;
    color: rgb(0, 0, 0);
    font-family: var(--font-base);
    font-size: 2.5vmin;
}

@media (orientation:portrait) {
    .service_text {
        font-size: 1.9vh;
        max-width: 92%;
        line-height: 2.8vh;
    }
}

.d-link {
    color: aliceblue; 
    :hover {
        color:rgb(204, 223, 240);
    }
}